finances
presentations
methods
references
jellyfish_plots
04.chloroplast_assembly/debugging
coverage_plots
SNP_chr_vis
outgroup_seqs
r2_csv
alignments
pi_samplewise
admin
admixture_output
posteriors
line_plots
the_shadow_realm
02.rapid_sequencing
ahmm_files
elai_files
fdiffs_files
recomb_files
sel_files
elai/maf05/results
go_enrich
prelim_tree_plots
upgma
pong_output*
*.kml
*.vcf
*.html
*_summary.pdf
*.recode.geno.txt
*.fst
*.fas
*dxy*.tab
*deta*.tab
*pi*.tab
*.sites.pi
*.Tajima.D
*scan_stats.tab
*.pptx
Eglob_Chr*_*.png
*.ps21.txt
*.snpinfo.txt
*.PREDICT.BSCORRECTED.txt
*.kmz
*.kml
*.tif
*.tiff
genomewide_r2_*.csv
*_all_windows_ld.txt
*.eigenvec
.Rdata
.Rhistory
Meehan_cordata_SSRs.xlsx
sample_sequencing_metadata.csv
40samples_KaseyUF_updateDec2020.csv
sample_sequencing_metadata_all.xlsx
1060_LH_F2.xlsx
read_totals_raw.csv
read_totals_trimmed.csv
vcf_header_fields.txt
zhe_filtering_params.txt
K2_results.xlsx
vcf_info.txt
kasey_gatk_pipeline_notes.sh
reseq_pipeline.sh
concatenated_cp_aligned.treefile
all_maf0.05.windowed.weir.fst
all_to_ASM1654582_fil_maf0.00_biallelic_noPL.vcf_scan_stats.tab
12864_2012_4136_MOESM1_ESM.xlsx
12870_2006_128_MOESM1_ESM.xls
12870_2006_128_MOESM2_ESM.doc
status_update_2023-06-16.pdf
all_ahmm_in.tab
Eglob_X46_liftoff_20230731.gff3_polished
all_dxy.txt
all_fst.txt
all_pi.txt
chr20.b37.gmap.gz
desktop.ini
