finances
presentations
methods
references
jellyfish_plots
coverage_plots
SNP_chr_vis
outgroup_seqs
r2_csv
alignments
pi_samplewise
admin
admixture_output
posteriors
line_plots
the_shadow_realm
*.kml
*.vcf
*.html
*.fst
*.fas
*dxy*.tab
*deta*.tab
*pi*.tab
*.sites.pi
*.Tajima.D
*scan_stats.tab
*.pptx
.Rdata
.Rhistory
introgressednucmarkers.kmz
Meehan_cordata_SSRs.xlsx
UFL_014801 agarose gel.docx
K2_results.xlsx
vcf_info.txt
kasey_gatk_pipeline_notes.sh
reseq_pipeline.sh
concatenated_cp_aligned.treefile
all_maf0.05.windowed.weir.fst
all_to_ASM1654582_fil_maf0.00_biallelic_noPL.vcf_scan_stats.tab
12864_2012_4136_MOESM1_ESM.xlsx
12870_2006_128_MOESM1_ESM.xls
12870_2006_128_MOESM2_ESM.doc
status_update_2023-06-16.pdf
all_ahmm_in.tab
Eglob_X46_liftoff_20230731.gff3_polished
glob_mr.recode.geno.txt
all_dxy.txt
all_fst.txt
all_pi.txt
